.registerToExam-BTN button{
    width: 50%;
    margin: auto;

}

.registerToExam-BTN button, .registerToExam-BTN button img {
    border: none;
    background-color: rgba(255, 255, 255, 0.103);
    width: 223px;
    transition: ease-in-out 150ms;
}
.registerToExam-BTN button:hover , .registerToExam-BTN button img:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0.103);
    width: 215px;
    transition: ease-in-out 150ms;
}

.indexBody {
    display: flex;
    align-items: center;
    justify-content: center;
}