.body-design{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.945);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    border: 1px solid rgb(61, 61, 61);
    z-index: 2;
}

.text-design{
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: large;
    z-index: 2;
}

.Submit{
    border: none;
    color: white;
    background-color: inherit;
    border-left: 1px solid brown;
    border-right: 1px solid brown;
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
    font-family: "Rubik", sans-serif;
    transition: ease-in-out 520ms;
    padding: 1rem;
    width: 14.2%;
    font-size: 16px;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

div{
    z-index: 2;
}

form{
    z-index: 2;
}

#menu-background-pattern {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%, 
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;

    z-index: 1;
}

input{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}